[submodule "third_party/tracktion_engine"]
	path = third_party/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
[submodule "third_party/libebur128"]
	path = third_party/libebur128
	url = https://github.com/jiixyj/libebur128.git
